html {
font-size: 12px;
}
.fow {
    display: flex;
}

.fol-1 {
    flex: 0 0 auto;
}

.fol-1 {
    flex: 1 1 auto;
}

#grid {
    border: 1px solid #dfdfdf;
}

#graph:after {
    content: "";
    display: table;
    clear: both;
}

#graph div {
    float: left;
    height: 100px;
}

#healthy {
    background-color: #f6f8fa;
}

#immune {
    background-color: #009FB7;
}

#sick {
    background-color: #A93F55;
}

#dead {
    background-color: #272727;
}


.card-body {
    border-bottom: 1px solid #eee;
}
.card-body:last-child{
    border-bottom: none;
}
